@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dosis&family=Merriweather:ital@1&family=Mochiy+Pop+One&family=Montserrat:wght@300&family=Nunito:wght@700&family=PT+Sans&family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,400;1,400&family=Work+Sans:ital,wght@0,300;0,500;1,300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Cairo&family=Poppins:wght@200;300;400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} body{
background-color: var(--beige);
}
.po-up-continer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219 219 219 / 83%);
    position: fixed;
}
.po-up{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
background-color: var(--primary);
width: 35%;
border-radius: 40px;
margin: 4rem;
padding: 2rem;
}
.po-up ion-icon{
    position: absolute;
    right: 14%;
    top: 5%;
font-size: 2rem;
font-weight: bold;
cursor: pointer;
}
.po-up h3{
    font-size: 30px;
    padding: 2rem;
    font-family: "Mochiy Pop One";
    color: #fff;
}
.po-up p{
    line-height: 35px;
    font-size: larger;
    padding: 0 2rem;
    color: #fff;
}
:root{
    --background: #fff;
    --primary: #fe8769;
    --beige: #d7e5ff;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  .card{
    margin: 1.5rem;
    border-radius: 10px;
    background-color: #ededed;
    transition: all 0.3s linear;
    width: 260px;
    height: 350px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
}
.img-card {
    width: 100%;
    height: 255px;
    border-radius: 10px 10px 0px 0px ;
  }

  .p-movie-name{
    display: inline;
    font-weight: bold;
  }

  .details{
    display: flex;
    justify-content: space-between;
    margin: 6px 12px;
  }
  .search-input{
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .input-search{
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 8px;
    margin-right: 10px;
    width: 25rem;
  }
  .btn-search{
    border: none;
    border-radius: 5px;
    padding: 6px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
  }
  .card .button{
    width: 40%;
    margin: 0 auto;
    padding: 9px;
    border-radius: 8px;
    border: none;
    background-color:var(--primary);
    color: white;
    cursor: pointer;
  }
  .card:hover{
    box-shadow: 2px 4px 25px  var(--primary);
    transform: translate3D(0, -9px, 0);
  }